<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon application Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>TP</ion-card-subtitle>
        <ion-card-title>Web Mobile</ion-card-title>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item (click)="fireAlert()" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Fire Alert</ion-label>
      </ion-item>

      <ion-item routerLink="/camera" class="ion-activated">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-label>Take picture</ion-label>
      </ion-item>

      <ion-item (click)="notification()" class="ion-activated">
        <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Notification</ion-label>
      </ion-item>

      <ion-item routerLink="/login">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Go To Login</ion-label>
      </ion-item>

      <ion-item (click)="startGeolocation()">
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label>Start geolocation</ion-label>
      </ion-item>
    </ion-card>


    <!-- GeoLoc -->
    <ion-list>
      <ion-item *ngFor="let item of geolocArray">
        <ion-label>
          LAT: {{item.lat}}, LNG: {{item.lng}}
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>